/* variables */
:root {
  --text: #9c9c9c;
  --input-bg-color: #fff;
  --input-text-color: #a3a3a3;
  --button-bg-color: #7f8ff4;
  --button-text-color: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --glow-color: #7f8ff4;
  --underline-color: #7f8ff4;
}

/* Body */
[data-testid="stAppViewContainer"] {
  background: var(--background) center/cover;
  background: linear-gradient(to right, #7f8ff4, #5b6ff5);
  color: var(--text);
  font: 1rem "PT Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

[data-testid="stHeader"] {
  z-index: -99;
}

[class="main st-emotion-cache-uf99v8 ea3mdgi8"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px var(--box-shadow-color);
  padding: 33px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  height: 99%;
  width: 99.5%;
  animation: glow 2s infinite alternate, fadeIn 1s ease-out;
  animation: fadeIn 1s ease-out, scaleIn 0.5s ease-out;
}

/* Logo */
[id="phishguard"] {
  font-size: 2rem;
  color: var(--underline-color);
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  color: white;
  margin-top: -250px;
  margin-left: -400px;
  position: relative;
}

[id="phishguard"]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 14px;
  width: 16%;
  height: 2px;
  background-color: var(--underline-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

[id="phishguard"]:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

[data-testid="textInputRootElement"] {
  border-color: #5b6ff5;
  background: var(--input-bg-color);
  color: var(--underline-color);
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  height: 55px;
}

[aria-label] {
  background: var(--input-bg-color);
  color: var(--underline-color);
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in;
  width: 100%;
}

[id="phishing-website-checker"] {
  /* margin-bottom: -10px; */
  font-size: 2rem;
  text-align: center;
  color: #5b6ff5;
}

[id="phishing-website-checker"]:hover {
  color: var(--underline-color);
}

[data-testid="baseButton-secondary"] {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;

  background: var(--button-bg-color);
  color: var(--button-text-color);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

[data-testid="baseButton-secondary"]:hover {
  background: darken(var(--button-bg-color), 4%);
  color: #fff;
  background: #5b6ff5;
  transform: scale(1.05);
}

[data-testid="baseButton-secondary"]:active {
  background: darken(var(--button-bg-color), 8%);
  transform: scale(1);
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

[data-testid="baseButton-secondary"]:focus {
  outline: 0;
}

[data-testid="baseButton-secondary"] {
  margin-left: 295px;
}

/* div > div > div > p {
  color: red;
  background-color: violet;
} */
/* [role="alert"] {
  background-color: red;
} */

[role="alert"] {
  display: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* CSS for safe prediction */
[role="alert"][data-type="safe"] {
  display: block;
  background-color: #ccffcc;
  color: #009900;
}

/* CSS for unsafe prediction */
[role="alert"][data-type="unsafe"] {
  display: block;
  background-color: #ffcccc;
  color: #cc0000;
}

/* CSS for invalid URL */
[role="alert"][data-type="invalid"] {
  display: block;
  background-color: #ffffcc;
  color: #999900;
}

/* fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 20px var(--box-shadow-color), 0 0 10px var(--glow-color);
  }
  to {
    box-shadow: 0 0 30px var(--box-shadow-color), 0 0 20px var(--glow-color);
  }
}
