/* body */
[data-testid="stAppViewContainer"] > .main {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
[data-testid="stHeader"] {
  z-index: -99;
}

/* Heading */
h1 {
  font-size: 2.5rem;
  color: #6d7ff5;
  text-shadow: 2px 2px 4px rgba(106, 194, 225, 0.1);
  letter-spacing: 2px;
  position: relative;
}

p {
  font-size: 1.5rem;
  color: #6d7ff5;
  text-shadow: 2px 2px 4px rgba(106, 194, 225, 0.1);
  letter-spacing: 2px;
  position: relative;
  /* Add the following lines */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input field */
[data-baseweb="base-input"] {
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid #99ccff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 3px;
}

/* inside the input field */
[aria-label] {
  color: #7f8ff4;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in;
}

/* CSS for elements with role="alert" */

/* Default style for alert messages */
[role="alert"] {
  display: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* CSS for safe prediction */
[role="alert"][data-type="safe"] {
  display: block;
  background-color: #ccffcc;
  color: #009900;
}

/* CSS for unsafe prediction */
[role="alert"][data-type="unsafe"] {
  display: block;
  background-color: #ffcccc;
  color: #cc0000;
}

/* CSS for invalid URL */
[role="alert"][data-type="invalid"] {
  display: block;
  background-color: #ffffcc;
  color: #999900;
}

/* Input field styling */
[data-testid="textInputRootElement"] {
  border-radius: 5px;
  border: 1px solid #99ccff; /* Light blue border */
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
}

/* Button styling */
.stButton > button {
  background-color: #66b3ff; /* Medium blue tone for button background */
  color: #ffffff; /* White text */
  border-radius: 5px;
  border: none;
  padding: -5px -5px;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button hover effect */
.stButton > button:hover {
  background-color: #3399ff; /* Darker blue tone on hover */
}


/* fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 20px var(--box-shadow-color), 0 0 10px var(--glow-color);
  }
  to {
    box-shadow: 0 0 30px var(--box-shadow-color), 0 0 20px var(--glow-color);
  }
}
